*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x:hidden ;
    /* scroll-behavior: smooth; */
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
a{
    text-decoration: none;
    color: whitesmoke;

}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.navbar.scrolled {
    background-color: rgba(20, 40, 40, 0.9); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    transition: background-color 0.3s ease;
}

ul{
    list-style: none;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;  
    font-size: 18px; 
}
.active{
    color: #2a9d8f;
    text-decoration: underline;
    font-weight: bold;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    
    background  : linear-gradient(45deg, #f4a261, #264653);
    ;
    margin:10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 20px;
    font-size: 17px;
    background:#2a9d8f;
    border-radius: 30px;
    color: whitesmoke;
}

/* Section Events */
section{
    /* background-color: red; */
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color:#7c7c7c;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}




.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Explore */
.explore{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.explore-content h1{
    font-size: 7vmin;
        color: rgb(255, 255, 255);

}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: rgb(221, 221, 221);
}
.explore-content .ctn{
    margin-top: 40px;
}

/* Tours */
.content-col{
    width: 40%;

}
.image-col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;align-items: center;
    width: 100%;

}

.image-gallery img{
    max-width: 300px;
    margin: 10px;

}
.content-col h1{
    font-size: 8vmin;
    color: #484872;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin:30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
/* Footer */
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #2a9d8f;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;

}


/* Mobile Device */
@media only screen and (max-width:850px) {
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30% ;
    }
    .nav-links li{
        margin: 30px auto;

    }

    /* Events Section */
    .row{
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    /* Explore Section */
    .explore-content{
        width: 100%;
    }

    /* Tours Section */
    .tours .col {
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;

    }
    .image-gallery img{
        width: 90%;
    }
    /* Footer Section */

    .footer{
        padding: 10px;
    }
}

/* Animations */

img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background-color: whitesmoke;
    color: #2a9d8f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
}
.nav-links a:hover{
    color: #2a9d8f ;
    cursor: pointer;
}